{% extends "layout.html" %}
{% block content %}
<h1>What is ConsBOL?</h1>
<p>
    ConsBOL provides constraint-based reasoning about biopolymers. It provides a language which should be used to constrain how the intervals of bioploymers relate to each other, including their position and length. ConsBOL will be included within the newest version of <a href="http://sbolstandard.org/">SBOL</a> and used in ShortBOL.
</p>
<p>
    ConsBOL is developed and maintained by Turing Ate My Hamster LTD and Christopher P D Taylor in partnership with Newcastle University.
</p>

{% endblock %}
