<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content=
            "ConsBOL Constraint-based reasoning about biopolymers">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/consbol.css') }}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    <title>ConsBOL Constraint-based reasoning about biopolymers</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type=
            "text/css">

</head>
<body>
<p>
    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" with="80" height="80" alt="logo"/>
</p>
<hr/>
<div class="container">
    <br/>
    <nav role="navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <!--<img id ="logo" src="../static/Dragon.png" alt="logo" width="65" height="65"/>-->
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('indexConstraints') }}">Index Sequence Constraints</a></li>
                        <li><a href="{{ url_for('strandConstraints') }}">Strand Constraints</a></li>

                        <li><a href="{{ url_for('lengthConstraints') }}">Length Constraints</a></li>

                        <li class="dropdown">
                            <a href="{{ url_for('topologicalConstraints') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Topological Sequence Constraints <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('topologicalConstraints') }}"><strong>Topological Sequence Constraints</strong></a></li>
                                <li><a href="{{ url_for('contains') }}">contains</a></li>
                                <li><a href="{{ url_for('within') }}">within</a></li>
                                <li><a href="{{ url_for('equals') }}">equals</a></li>
                                <li><a href="{{ url_for('containsSuffix') }}">contains_suffix</a></li>
                                <li><a href="{{ url_for('containsPrefix') }}">contains_prefix</a></li>
                                <li><a href="{{ url_for('joinsDirectly') }}">joins_directly</a></li>
                                <li><a href="{{ url_for('joinsWithGap') }}">joins_with_gap</a></li>
                                <li><a href="{{ url_for('intersects') }}">intersects</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </nav>


    {% block content %}
    {% endblock %}

</div>
   <div id="footer">
        <a target="_blank" href="http://ico2s.org"><img id="icos" src="{{ url_for('static',filename='images/icos.png') }}" /></a>
        <a target="_blank" href="http://ncl.ac.uk"><img id="ncl" src="{{ url_for('static',filename='images/newcastle-university.png') }}" /></a>
    </div>
</body>

</html>