{% extends "layout.html" %}
{% block content %}

<h1>Length Constraints</h1>
<p>
    Length Constraints describe constraints between the lengths of biopolymers.
</p>
<h2>
<span class="component">A</span> <span class="constraint">same_length_as </span> <span class="component">B</span>
</h2>
<p> This constrains that the length of <span class="component">A</span> is equal to the length of <span class="component">B</span>
</p>
<h2>
<span class="component">A</span> <span class="constraint">shorter_than </span> <span class="component">B</span>
</h2>
<p>length <span class="component">A</span> < length <span class="component">B</span></p>
<h2>
<span class="component">A</span> <span class="constraint">not_longer_than</span> <span class="component">B</span>
</h2>
<p>length <span class="component">A</span> <= length <span class="component">B</span>
</p>

{% endblock %}