{% extends "layout.html" %}
{% block content %}
<h2>A <span class="constraint">within </span> B</h2>
<table class="sig">
    <!--<tr>-->
        <!--<th colspan="6" class="header"> A within B</th>-->

    <!--</tr>-->
    <tr>
        <th colspan="6" class="example"></th>
    </tr>
    <tr>
    </tr>

    <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>Stranded Orientation</th>
        <th>Index Constraint</th>
        <th>Strand Constraint</th>

    </tr>
    <tr>

        <td rowspan="2"><img src="{{ url_for('static', filename='images/constraints_diagrams/within/within_s_base.svg') }}"/></td>

        <td class="positive">P</td>
        <td class="positive">P</td>
        <td><img src="{{ url_for('static', filename='images/constraints_diagrams/within/within_s_1.svg') }}"/></td>
        <td>A within B</td>
        <td class="same">A same_strand_as B</td>

    </tr>
    <tr>
        <td class="negative">N</td>
        <td class="negative">N</td>
        <td><img src="{{ url_for('static', filename='images/constraints_diagrams/within/within_s_2.svg') }}"/></td>
        <td> A within B</td>
        <td class="same">A same_strand_as B</td>
    </tr>
    <tr>
        <td rowspan="2"><img src="{{ url_for('static', filename='images/constraints_diagrams/within/within_o_base.svg') }}"/></td>

        <td class="positive">P</td>
        <td class="negative">N</td>
        <td><img src="{{ url_for('static', filename='images/constraints_diagrams/within/within_s_o.svg') }}"/></td>
        <td>A within B</td>
        <td>A opposite_strand_to B</td>
    </tr>
    <tr>
        <td class="negative">N</td>
        <td class="positive">P</td>
        <td><img src="{{ url_for('static', filename='images/constraints_diagrams/within/within_s_o_2.svg') }}"/></td>
        <td> A within B</td>
        <td>A opposite_strand_to B</td>

    </tr>
</table>
<br/>
<!--<p>-->
    <!--This constrains that <span class="component">A</span> must have a start point >= to the start point of <span class="component">B</span> and an end point <= to the end point of <span class="component">B</span>.-->
<!--</p>-->
<!--<hr/>-->
<!--<h2>A <span class="constraint">within </span> B</h2>-->
<!--<table class="sig">-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<th colspan="6" class="header">A within B</th>&ndash;&gt;-->

    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--<tr>-->
        <!--<th colspan="6" class="example">Example:</th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--</tr>-->

    <!--<tr>-->
        <!--<th>A</th>-->
        <!--<th>B</th>-->
        <!--<th>Stranded Orientation</th>-->
        <!--<th>Index Constraint</th>-->
        <!--<th>Strand Constraint</th>-->

    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="positive">P</td>-->
        <!--<td class="positive">P</td>-->
        <!--<td colspan="3"> N/A</td>-->

    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="negative">N</td>-->
        <!--<td class="negative">N</td>-->
        <!--<td colspan="3"> N/A</td>-->

    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="positive">P</td>-->
        <!--<td class="negative">N</td>-->



    <!--</tr>-->
    <!--<tr>-->
        <!--<td class="negative">N</td>-->
        <!--<td class="positive">P</td>-->



    <!--</tr>-->
<!--</table>-->

{% endblock %}